body {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

div,
p,
form,
button,
b,
a,
input {
    box-sizing: border-box;
}

ul {
    display: block;
    padding: 0;
    margin: 0;
}

ul li {
    display: block;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
    width: 100%;
}

.header {
    background: #22a2ec;
    height: 86px;
    color: #ffffff;
}

.logo {
    float: left;
    font-size: 18px;
    margin: 34px 44px;
}

nav {
    float: left;
    margin: 34px 79px;
}

.phone {
    float: right;
    font-size: 18px;
    margin: 37px 45px;
}

.menu_item {
    float: left;
    font-size: 15px;
    margin-left: 29px;
}

.menu_item a {
    color: #ffffff;
}

h1 {
    font-size: 28px;
    margin-top: 52px;
    margin-left: 44px;
}

.cards {
    margin-top: 32px;
    font-size: 15px;
}

.card {
    width: 358px;
}

.card span {
    display: inline-block;
    padding: 0 29px 29px 29px;
}

.card a {
    font-size: 13px;
    color: #22a2ec;
}

.card h4 {
    font-size: 18px;
    color: #262c2f;
    margin-top: 31px;
    margin-left: 29px;
    margin-bottom: 20px;
}

.cardtest_1 {
    border: 1px solid #d6d6d6;
    float: left;
    margin-left: 43px;
}

.cardtest_2 {
    border: 5px solid #d6d6d6;
    float: left;
    margin-left: 57px;
}

.cardtest_2 h4 {
    margin-top: 24px;
}

.cardtest_3 {
    border-radius: 5px;
    box-shadow: 0px 0px 29px 0px rgba(14, 14, 14, 0.4);
    float: right;
    margin-right: 48px;
}