@font-face {
    font-family: "Natasha";
    src: url("../font/Natasha.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MuseoSansCyrl 100";
    src: url("../font/MuseoSansCyrl 100.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MuseoSansCyrl 300";
    src: url("../font/MuseoSansCyrl 300.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MuseoSansCyrlIt 300";
    src: url("../font/MuseoSansCyrl 300 Italic.otf") format("opentype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "MuseoSansCyrl 900";
    src: url("../font/MuseoSansCyrl 900.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000;
}

h2 {
    font-family: "Natasha";
    font-size: 37px;
    font-weight: 700;
    color: #000000;
}

h3 {
    font-family: "Natasha";
    font-size: 22px;
    font-weight: 700;
    color: #22241b;
}

div,
section,
form,
span,
p,
button {
    box-sizing: border-box;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.header {
    background: url("../img/ewbsewstepa-dustin-scarpitti.png") no-repeat;
}

.header__container {
    padding: 57px 0 82px;
    color: #fff;
}

.wrap-nav {
    justify-content: space-between;
    align-content: center;
}

.logo {
    font-family: "MuseoSansCyrl 900";
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
}

.logo__prefix {
    font-family: "MuseoSansCyrl 100";
}

.nav {
    width: 321px;
    justify-content: space-between;
    font-size: 15px;
    text-transform: uppercase;
    font-family: "MuseoSansCyrl 900";
}

.mail {
    font-size: 13px;
    font-family: "MuseoSansCyrl 300";
}

.header__title {
    width: 750px;
    margin: 295px auto 265px;
    font-family: "Natasha";
    font-size: 49px;
    color: #fff;
    text-transform: uppercase;
    line-height: 55px;
    letter-spacing: 5.88px;
    text-align: center;
}

.header__title_prefix {
    font-family: "MuseoSansCyrl 100";
    font-size: 29px;
}

.arrow__btn {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin: 0 auto;
}

.fa {
    line-height: 40px;
}

.about {
    padding-top: 87px;
}

.about__title {
    margin-bottom: 76px;
}

.context {
    justify-content: space-between;
}

.context__descript_title {
    margin-bottom: 40px;
}

.context__descript {
    width: 433px;
}

.context__descript_text {
    font-family: "MuseoSansCyrl 300";
    font-size: 15px;
    color: #22241b;
    line-height: 1.7;
    letter-spacing: 0.3px;
    margin-bottom: 17px;
}

.context__merit {
    width: 461px;
}

.context__merit_progress {
    margin-bottom: 68px;
}

.progress {
    margin-top: 47px;
    justify-content: space-around;
}

.progress__item {
    display: inline-block;
    position: relative;
    width: 112px;
    text-align: center;
}

.progress__item_number {
    display: inline-block;
    position: absolute;
    left: 47px;
    top: 40px;
    font-size: 20px;
    text-transform: uppercase;
}

.first {
    left: 47px;
}

.second {
    left: 41px;
}

.third {
    left: 51px;
}

.progress__item_note {
    font-family: "MuseoSansCyrl 100";
    font-size: 12px;
    text-transform: uppercase;
}

.wraper__link {
    justify-content: space-between;
    align-content: center;
}

.ref {
    padding-top: 10px;
}

.ref__item {
    margin-bottom: 17px;
}

.ref__item a {
    font-family: "MuseoSansCyrl 300";
    font-size: 14px;
    color: #204d15;
    text-decoration: none;
    border-bottom: 1px solid #204d15;
}

.note__icon {
    padding-top: 23px;
}

.note__text {
    padding-top: 46px;
    font-family: "MuseoSansCyrlIt 300";
    font-size: 14px;
    color: #22241b;
    opacity: 0.72;
}