@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Bold.woff2') format('woff2'), url('../fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato';
    color: #ffffff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    color: #fff;
}

.header {
    padding: 24px 0 24px;
    background: #2c353f;
}

.logo__descript {
    font-family: 'Arimo';
    font-size: 14px;
    color: #babcbf;
    margin-left: 25px;
    padding-left: 23px;
    border-left: 1px solid #a2a2a2;
}

.phone {
    display: block;
    font-family: 'Lato';
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    border-right: 1px solid #a2a2a2;
    margin-top: 5px;
    padding: 7px 14px 7px 0;
}

.phone i {
    color: #e9ae30;
    font-size: 16px;
}

.phone__code {
    color: #babcbf;
    marg in-left: 2px;
}

.request {
    font-family: 'Lato';
    font-weight: 700;
    color: #e9ae30;
    display: block;
    margin-top: 10px;
}

.request i {
    color: #e9ae30;
    font-size: 16px;
    margin-right: 10px;
}


/* section menu */

.menu {
    background: #e9ae30;
}

.nav {
    height: 58px;
}

.active {
    background: #e41a0a;
}

.nav-item:hover {
    border-bottom: 2px solid #e41a0a;
}

.nav-link {
    font-family: 'Lato';
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    padding-top: 20px;
}

.nav-item a:hover {
    color: #e41a0a;
}

.search {
    width: 243px;
    height: 38px;
    position: relative;
    margin-top: 10px;
}

.input {
    width: 100%;
    padding: 5px 0 5px 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.submit {
    border: 0;
    border-left: 1px solid #a2a2a2;
    background: #fff;
    font-family: FontAwesome;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 7px;
    cursor: pointer;
}


/* section catalog */

.catalog {
    background: #000;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    padding-top: 35px;
    padding-bottom: 90px;
}

.nav__page {
    color: #babcbf;
    font-family: Arimo;
    font-size: 14px;
    font-weight: 400;
}

.description__title {
    margin: 40px 0;
}

.description__text {
    display: block;
    width: 90%;
    color: #ffffff;
    font-family: 'Arimo';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.card {
    width: 160px;
    margin-bottom: 25px;
}

.card-body {
    background: #e9ae30;
    text-align: center;
    padding: 15px 0;
}

.card-text {
    color: #212121;
    font-family: 'Arimo';
    font-size: 16px;
    font-weight: 400;
}


/* section advantages */

.advantages {
    background: url('../img/bg2.jpg') no-repeat;
    text-align: center;
    padding-top: 85px;
    padding-bottom: 90px;
}

.advantages__title {
    font-size: 36px;
    margin-bottom: 35px;
}

.advantages p {
    font-size: 16px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.advantages__item img {
    display: block;
    width: 103px;
    height: 97px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.advantages__item {
    width: 170px;
    margin-top: 35px;
}

.note {
    color: #fff;
    font-size: 16px;
    text-align: center;
}