    @font-face {
        font-family: 'Museo Sans 100';
        src: url('../fonts/MuseoSansCyrl-100/MuseoSansCyrl-100.eot');
        src: url('../fonts/MuseoSansCyrl-100/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSansCyrl-100/MuseoSansCyrl-100.woff2') format('woff2'), url('../fonts/MuseoSansCyrl-100/MuseoSansCyrl-100.woff') format('woff'), url('../fonts/MuseoSansCyrl-100/MuseoSansCyrl-100.ttf') format('truetype');
        font-weight: 100;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Museo Sans 300';
        src: url('../fonts/MuseoSansCyrl-300/MuseoSansCyrl-100.eot');
        src: url('../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.woff2') format('woff2'), url('../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.woff') format('woff'), url('../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Museo Sans 700';
        src: url('../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.eot');
        src: url('../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.woff2') format('woff2'), url('../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.woff2') format('woff'), url('../fonts/MuseoSansCyrl-700/Museo Sans Cyrl 700.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }
    
    body {
        font-family: 'Museo Sans 300', sans-serif;
        margin: 0;
        padding: 0;
    }
    
    .container {
        padding: 0;
    }
    
    ul,
    li {
        display: block;
        padding: 0;
        margin: 0;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Museo Sans 700';
        color: #081d42;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    div,
    section,
    form,
    span,
    p,
    button {
        box-sizing: border-box;
    }
    
    a,
    a:hover {
        text-decoration: none;
    }
    
    button,
    button:hover,
    button:active,
    button:focus {
        outline: none;
    }
    
    .header {
        background: url('../img/ssha-chikago-megapolis.jpg') no-repeat center / cover;
        padding-bottom: 157px;
    }
    
    .container__nav {
        border-top: 4px solid rgba(88, 100, 122, 0.21);
        background: url('../img/bg-nav.png') center / cover;
        padding: 16px 0 9px;
    }
    
    .menu {
        padding-top: 20px;
    }
    
    .menu__item a {
        font-size: 17px;
        font-family: 'Museo Sans 700';
        color: #3f4b60;
    }
    
    .button__phone {
        width: 156px;
        height: 35px;
        background-color: #1cb883;
        font-family: 'Museo Sans 700';
        font-size: 13px;
        color: #fff;
        text-align: center;
        display: block;
        padding-top: 7px;
        box-shadow: 0 2px 3px -1px #777;
    }
    
    .button__phone:hover {
        background: #e5e6e8;
        color: #1cb883;
    }
    
    .button__phone i {
        margin-right: 9px;
    }
    
    .menu__button {
        margin-top: 14px;
        margin-left: 7px;
    }
    
    .button__open {
        font-size: 20px;
        cursor: pointer;
        display: inline-block;
    }
    
    .descript__title {
        font-size: 58px;
        margin-top: 107px;
        text-transform: uppercase;
    }
    
    .descript__note {
        display: block;
        width: 455px;
        font-size: 29px;
        font-family: 'Museo Sans 100';
        margin-top: 16px;
    }
    
    .social {
        margin-top: 44px;
    }
    
    .social_item {
        font-size: 17px;
        width: 30px;
        height: 30px;
        border: 2px solid #fff;
        text-align: center;
        padding-top: 1px;
        margin-right: 20px;
    }
    
    .fa-facebook {
        color: #3d6ca8;
    }
    
    .fa-twitter {
        color: #43c9fd;
    }
    
    .fa-telegram {
        color: #25a3d4;
    }
    /* Section trust */
    
    .trust {
        padding-top: 60px;
        padding-bottom: 83px;
    }
    
    .trust__title {
        font-size: 29px;
        text-align: center;
        margin-bottom: 41px;
    }
    
    .offer__item {
        width: auto;
        font-size: 14px;
        text-align: center;
    }
    
    .offer__item h3 {
        font-size: 21px;
        margin: 24px 0 16px;
    }
    
    .trust__button {
        display: block;
        width: 173px;
        height: 44px;
        background-color: #1cb883;
        font-size: 16px;
        color: #fff;
        text-align: center;
        padding-top: 10px;
        margin: 78px auto;
    }
    
    .trust__advantage {
        width: auto;
        font-size: 14px;
        text-align: center;
    }
    
    .advantage__item h3 {
        font-family: 'Museo Sans 100';
        margin-bottom: 16px;
    }
    
    .title__color {
        color: #b81c31;
    }
    /* Section Mission */
    
    .mission {
        background: url('../img/bg-section.jpg') no-repeat center / cover;
        padding-top: 3%;
        padding-bottom: 2%;
    }
    
    .consult__title {
        width: 70%;
        font-size: 23px;
        opacity: 0.4;
        color: #fff;
        border-bottom: 4px solid #fff;
        padding-bottom: 9px;
        margin-bottom: 22px;
    }
    
    .consult__descript {
        font-size: 15px;
        opacity: 0.67;
        color: #fff;
    }
    
    .consult__descript p {
        margin-bottom: 20px;
        line-height: 1.3;
    }
    
    .consult__descript_right {
        margin-left: 40px;
    }
    
    .consult__button {
        display: block;
        width: 173px;
        border: 2px solid #30a082;
        color: #fff;
        text-align: center;
        font-family: 'Museo Sans 700';
        font-size: 16px;
        padding: 10px 0;
        margin-top: 35px;
    }
    
    .news__title {
        font-size: 23px;
        opacity: 0.4;
        color: #fff;
        border-bottom: 4px solid #fff;
        padding-bottom: 9px;
        margin-bottom: 25px;
    }
    
    .news__item {
        position: relative;
        border-bottom: 1px solid #fff;
        padding-bottom: 85px;
        margin-bottom: 27px;
        opacity: 0.75;
    }
    
    .news__item_img {
        float: left;
        margin-right: 12px;
    }
    
    .news__item_note {
        display: block;
        float: left;
        width: 175px;
        font-family: 'Museo Sans 700';
        font-size: 13px;
        color: #fff;
        line-height: 1.2;
    }
    
    .news__item_date {
        position: absolute;
        left: 100%;
        margin-left: -50px;
        top: 58px;
        font-size: 10px;
        color: #fff;
    }
    /* section refer */
    
    .refer {
        padding: 45px 0 87px;
        background-color: #3a4456;
    }
    
    .refer__title {
        font-size: 19px;
        color: #fff;
        margin-bottom: 20px;
        margin-top: 53px;
        opacity: 0.66;
    }
    
    .refer__item a {
        font-size: 14px;
        color: #fff;
        opacity: 0.46;
    }
    /* Footer */
    
    .footer {
        background-color: #1f2531;
        font-family: 'Museo Sans 100';
        color: #fff;
        font-size: 12px;
    }
    
    .address {
        padding-top: 27px;
        line-height: 1.4;
        opacity: 0.52;
    }
    
    .footer__interest {
        padding-top: 27px;
        opacity: 0.52;
    }
    
    .footer__icon {
        float: left;
        width: 25px;
        height: 25px;
        border: 1px solid #fff;
        padding-top: 1px;
        font-size: 15px;
        text-align: center;
    }
    
    .footer__author {
        display: block;
        font-size: 10px;
        margin-left: 33px;
        margin-top: -2px;
        line-height: 1.4;
    }
    
    .footer__name {
        font-size: 12px;
        text-transform: uppercase;
    }
    
    .copuright {
        margin-top: 27px;
    }
    
    .copuright__lab {
        font-family: 'Museo Sans 700';
    }
    
    .copuright__ref {
        display: block;
        color: #fff;
        text-decoration: underline;
    }
    
    .footer__button {
        margin-top: 60px;
    }
    /* Page About */
    
    .socsearch {
        background-color: #f6f6f7;
        padding: 12px 0;
    }
    
    .socsearch__social {
        margin: 0;
        padding-top: 5px;
    }
    
    .socsearch__social_item:nth-child(1) {
        border: 2px solid #416fa9;
    }
    
    .socsearch__social_item:nth-child(2) {
        border: 2px solid #36c7fe;
    }
    
    .socsearch__social_item:nth-child(3) {
        border: 2px solid #3eadd8;
    }
    
    .arrow {
        font-size: 28px;
        color: #d1d4da;
        line-height: 42px;
    }
    
    .socsearch__slogan {
        width: 290px;
        font-family: 'Museo Sans 100';
        font-size: 13px;
        opacity: 0.8;
        color: #081d42;
        margin-left: 10px;
        line-height: 1.2;
        display: block;
        padding-top: 4px;
    }
    
    .search {
        padding-top: 3px;
        position: relative;
        display: block;
    }
    
    .search__input {
        background-color: #fff;
        font-size: 16px;
        font-family: 'Museo Sans 100';
        padding: 0 20px;
        width: 160px;
        height: 35px;
        border: 3px solid rgba(204, 204, 204, 0.49);
        opacity: 0.8;
        display: block;
        outline: none;
    }
    
    .search__btn {
        background-color: #f9f9fa;
        font-size: 16px;
        opacity: 0.3;
        border: none;
        display: block;
        text-align: center;
        cursor: pointer;
        position: absolute;
        left: 125px;
        top: 8px;
    }
    /* section .about__company */
    
    .page__menu {
        background: #fafafb;
        padding: 25px 0 33px;
    }
    
    .page__title {
        font-size: 38px;
        margin-bottom: 20px;
    }
    
    .ref {
        font-size: 16px;
        color: #49556b;
        text-decoration: underline;
    }
    
    .ref__act {
        text-decoration: none;
        color: #7e838d;
    }
    
    .page__nav {
        margin-top: 25px;
    }
    
    .page__nav_item:hover {
        border: 2px solid #b81c31;
        padding: 12px;
    }
    
    .page__nav_item {
        border: 2px solid #fafafb;
        padding: 12px;
    }
    
    .page__nav_item a {
        font-size: 16px;
        color: #a1a6af;
        font-family: 'Museo Sans 700';
    }
    
    .page__nav_item a:hover {
        color: #b81c31;
    }
    /* section .advantage */
    
    .advantage {
        padding-top: 56px;
    }
    
    .advantage__title {
        font-size: 29px;
        letter-spacing: 0.58px;
        margin-bottom: 32px;
    }
    
    .advantage__descript {
        font-size: 15px;
        color: #404048;
    }
    
    .advantage__weighty p {
        font-size: 14px;
        margin-top: 20px;
    }
    
    .advantage_scales {
        margin-top: 5px;
    }
    
    .advantage__weighty_item {
        border-bottom: 1px solid#e4e5e7;
        margin-top: 37px;
        padding-bottom: 25px;
    }
    
    .advantage__weighty_item:first-child {
        border-top: 1px solid#e4e5e7;
        padding-top: 35px;
    }
    /* section .photo */
    
    .photo {
        padding: 70px 0;
    }
    
    .photo__title {
        font-size: 29px;
        letter-spacing: 0.58px;
        margin-bottom: 43px;
    }
    
    .photo__item {
        position: relative;
        display: inline-block;
        overflow: hidden;
    }
    
    .photo__item:hover {
        outline: 6px solid #9a97a7;
    }
    
    .photo__item:hover:after {
        content: "\f065";
        font-family: FontAwesome;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 29px;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    }
    /* Page Services */
    
    .services__item {
        margin-left: 50px;
    }
    
    .services__item a {
        font-size: 13px;
        font-family: 'Museo Sans 300';
    }
    
    .services__item h5 {
        font-size: 16px;
        color: #a1a6af;
    }
    
    .services__item h5:hover {
        color: #b81c31;
    }
    /* section legal__support */
    
    .legal__support {
        background: url('../img/bg-audit.jpg') center / cover;
        color: #fff;
        padding: 42px 0 12px;
    }
    
    .legal__support_title {
        font-size: 25px;
        color: #fff;
        letter-spacing: 0.5px;
        line-height: 1.2;
        margin: 20px 0 22px;
    }
    
    .legal__support_text {
        font-size: 15px;
        width: 320px;
        line-height: 1.2;
    }
    
    .cat {
        border: 1px solid #a8adbc;
        border-radius: 3px;
        padding: 20px 60px 10px 30px;
    }
    
    .cat__item {
        margin-bottom: 12px;
    }
    
    .cat__item a {
        font-size: 15px;
        color: #fff;
    }
    
    .cat__item a:hover {
        text-decoration: underline;
    }
    /* section .content */
    
    .content {
        padding-bottom: 5px;
    }
    
    .article__title {
        font-size: 29px;
        letter-spacing: 0.58px;
        margin: 60px 0 30px;
    }
    
    .article__text {
        font-size: 15px;
        color: #404048;
        letter-spacing: 0.3px;
    }
    
    .app {
        width: 75%;
        border: 1px solid #e3e4e6;
        border-radius: 5px;
        padding: 25px 120px 30px 30px;
        background: url('../img/conference-call-02-256.png') no-repeat 98% 85%;
        margin-top: 30px;
    }
    
    .app__title {
        color: #414449;
        font-size: 16px;
        letter-spacing: 0.32px;
        margin-bottom: 17px;
    }
    
    .app__phone {
        font-family: 'Museo Sans 700';
        color: #585f6b;
        font-size: 14px;
        letter-spacing: 0.28px;
        margin-left: 17px;
    }
    
    .app__btn {
        color: #b81c31;
    }
    
    .app__note {
        width: 223px;
        display: block;
        font-size: 12px;
        color: #888d95;
        margin-top: 17px;
    }
    
    .sidebar {
        background-color: #fafafb;
        padding-top: 53px;
    }
    
    .navi__title {
        font-size: 18px;
        color: #58647a;
        opacity: 0.68;
        margin-bottom: 44px;
        margin-left: 27px;
    }
    
    .navi {
        margin-bottom: 60px;
    }
    
    .navi__item {
        border-bottom: 1px solid #dfdfe8;
        padding: 13px 0;
        padding-left: 50px;
        position: relative;
    }
    
    .navi__item::before {
        content: '';
        width: 11px;
        height: 11px;
        background: #aeaeb9;
        position: absolute;
        left: 27px;
        top: 19px;
    }
    
    .navi__item:first-child {
        border-top: 1px solid #dfdfe8;
    }
    
    .navi__item a {
        font-family: 'Museo Sans 700';
        font-size: 15px;
        color: #747487;
    }
    
    .review__title {
        font-size: 18px;
        opacity: 0.68;
        color: #58647a;
        margin-left: 27px;
        margin-bottom: 41px;
    }
    
    .review__slider {
        position: relative;
        padding-bottom: 105px;
    }
    
    .slick-arrow {
        position: absolute;
        font-size: 25px;
        color: #404048;
        border: none;
        background: none;
    }
    
    .slick-arrow:hover {
        cursor: pointer;
    }
    
    .slick-prev {
        left: 32px;
        top: 55px;
        z-index: 99;
    }
    
    .slick-next {
        right: 32px;
        top: 55px;
    }
    
    .review__note {
        margin-top: 20px;
    }
    
    .review__name {
        font-family: 'Museo Sans 700';
        font-size: 15px;
        color: #747487;
    }
    
    .review__note_text {
        font-size: 13px;
        color: #404048;
        padding: 17px 45px 0;
    }
    
    .slick-dots {
        display: flex;
        justify-content: center;
        padding-left: 20px;
        margin-top: 26px;
    }
    
    .slick-dots li {
        margin-right: 18px;
    }
    
    .slick-dots li button {
        width: 11px;
        height: 11px;
        background: #bdc6d5;
        display: block;
        border: none;
        font-size: 0;
        cursor: pointer;
    }
    
    .slick-dots li.slick-active button {
        background: #8b9ab7;
    }
    /* Page contacts */
    
    .map {
        position: relative;
    }
    
    .window {
        position: absolute;
        top: 9%;
        right: 10%;
    }
    
    .box {
        width: 470px;
        padding: 22px 30px;
        background-color: rgba(124, 132, 147, 0.65);
        color: #fff;
        border-radius: 3px;
        position: relative;
    }
    
    .box:before {
        content: "";
        position: absolute;
        right: 100%;
        width: 0;
        height: 0;
        border-top: 23px solid transparent;
        border-right: 26px solid #7c8492;
        border-bottom: 23px solid transparent;
        opacity: 0.65;
    }
    
    .win__title {
        font-size: 21px;
        color: #fff;
    }
    
    .win__header {
        border-bottom: 2px solid #9aa1ac;
        padding-bottom: 18px;
    }
    
    .win__social {
        margin: 0;
    }
    
    .win__social_item {
        margin: 0;
        margin-left: 20px;
    }
    
    .win__social i {
        color: #fff;
    }
    
    .contact {
        margin-top: 50px;
    }
    
    .addr__item {
        width: 180px;
        font-size: 16px;
        margin-bottom: 30px;
    }
    
    .fa-location-arrow {
        margin-top: 3px;
    }
    
    .addr__wr {
        margin-left: 8px;
    }
    
    .context {
        width: 180px;
        font-size: 12px;
    }
    /* form */
    
    .form__title {
        font-weight: 700;
        font-size: 18px;
        color: #000;
        text-align: center;
        margin: 30px 0;
    }
    
    .form__input {
        width: 100%;
        display: block;
        padding: 8px 10px;
        margin-bottom: 11px;
    }
    
    .form__btn {
        display: block;
        margin: 40px auto;
        cursor: pointer;
    }
    
    .form__icon {
        color: #f70895;
        width: 36px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        display: block;
        border-radius: 50%;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.18);
        position: absolute;
        left: 50%;
        margin-left: -18px;
        top: -18px;
        background: #fff;
    }
    /*  */
    
    #loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(240, 240, 240, 0.91);
        overflow: hidden;
        display: none;
    }
    
    #loader img {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 50%;
        margin-left: -25px;
        top: 50%;
        margin-top: -25px;
    }
    
    #overlay {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000c;
        left: 0px;
        top: 0px;
        cursor: pointer;
    }
    
    #thx {
        background: #fff;
        position: absolute;
        left: 50%;
        margin-left: -170px;
        top: 50%;
        padding: 30px;
        margin-top: -20px;
    }